body {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: #45828E;
  background-color: #A5ECFA;
  width: 100%;
  height: 100%;
}

.above-Footer{
    min-height: calc(100vh - 20);
}
.stickyFooter{
    height:20;
}

p.footer {
	text-align:right;
	margin-right:20px;
	font-size:12px;
}